<section class="container">
  <h5>Live Session</h5>

  <a
    href="#"
    class="btn btn-outline-primary"
    data-toggle="modal"
    data-target="#myModal"
    >View</a
  >

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="clearfix">
          <div class="modal-header">
            <h4 class="modal-title">Live Session</h4>

            <div class="float-right">
              <img src="assets/images/company_logo.png" alt="logo" />
            </div>
          </div>
          <button
            type="button"
            class="close close-modal-btn"
            data-dismiss="modal"
          >
            &times;
          </button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <img
                src="assets/images/modal-lg_1.png"
                alt="logo"
                class="img-fluid"
              />
              <form action="#" method="POST">
                <div class="form-group">
                  <div class="chatbot d-inline-flex mt-2">
                    <i class="fa fa-user"></i>
                    <input
                      type="text"
                      class="form-control"
                      name="user-input"
                      placeholder="Enter your message here..."
                    />
                  </div>

                  <!-- Start of send and attach -->
                  <div class="d-flex p-3">
                    <div class="p-2">
                      <form
                        class="form-inline"
                        id="y-form-chat"
                        style="display: none;"
                      >
                        <div class="form-group">
                          <input
                            type="file"
                            class="form-control"
                            id="file"
                            name="file"
                          />
                          <div class="form-group">
                            <button
                              type="submit"
                              class="btn btn-primary btn-md"
                            >
                              Send
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>

                  <!-- End of send and attach -->

                  <!-- Start of chat menu -->
                  <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <a
                        class="nav-item nav-link active"
                        id="nav-newest-tab"
                        data-toggle="tab"
                        href="#nav-newest"
                        role="tab"
                        aria-controls="nav-newest"
                        aria-selected="true"
                        >Newest</a
                      >
                      <a
                        class="nav-item nav-link"
                        id="nav-oldest-tab"
                        data-toggle="tab"
                        href="#nav-oldest"
                        role="tab"
                        aria-controls="nav-oldest"
                        aria-selected="false"
                        >Oldest</a
                      >
                      <a
                        class="nav-item nav-link"
                        id="nav-popular-tab"
                        data-toggle="tab"
                        href="#nav-popular"
                        role="tab"
                        aria-controls="nav-popular"
                        aria-selected="false"
                        >Popular</a
                      >
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="nav-newest"
                      role="tabpanel"
                      aria-labelledby="nav-newest-tab"
                    >
                      Newest body
                    </div>
                    <div
                      class="tab-pane fade"
                      id="nav-oldest"
                      role="tabpanel"
                      aria-labelledby="nav-oldest-tab"
                    >
                      Oldest body
                    </div>
                    <div
                      class="tab-pane fade"
                      id="nav-popular"
                      role="tabpanel"
                      aria-labelledby="nav-popular-tab"
                    >
                      Popular body
                    </div>
                  </div>
                  <!-- End of chat menu -->
                </div>
              </form>
            </div>
            <div class="col-md-6">
              <div class="clearfix">
                <div class="top-chat">
                  <span
                    >Topchat
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                  </span>
                  <div class="float-right">
                    <ul>
                      <li class="fa fa-circle" aria-hidden="true"></li>
                      <li class="fa fa-circle" aria-hidden="true"></li>
                      <li class="fa fa-circle" aria-hidden="true"></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">
            Close
          </button> -->
        </div>
      </div>
    </div>
  </div>
</section>
